/*Arabic styles**/
.ar .float-right{
    float:left !important
  }
  .ar body,.ar .container,.ar *{
    direction:rtl;
  }
  .ar .logo_set,.ar .menu ul li {
    float: right;
  }
  .ar .menu_set {
    float: left;
  }
  
  /* .ar .menu ul li{
      
  } */
  .ar .sub_menu_item a{
    float: right;
  }
  
  .ar #home .five_stars_title{
    position: unset;
  }
  .ar .footer_grid{
    margin-right: 0px;
  }
  
  .ar .footer_stalk_block a {
    text-indent: 9999px;
  }
  
  .ar .specific_header, .ar .specific_table_set {
    width: 100%;
  }
  
  .ar .td_main,.ar .grade_head  {
    text-align: right;
    padding-right: 5px;;
    margin-right: -1px !important;;
  }
  
  /* .ar .specific_table_set .th_column {
   padding-right: 22px;;
  }
   */
  .ar .td_main {
    border-left:1px solid #CCC;
  }
  .ar .tr_set .td:nth-child(3){
    border-left:0;
    border-right:1px solid #CCC;
  
  }
  .ar .tr_set.row,.ar .specific_table_set .grade_set{
    margin-left: 0px;
    margin-right: 0px;
  
  }
  .ar .specific_table_set .td{
    margin-right: 0px;
  }
  
  .ar .paragraph.pb20{
    text-align: right;
  }

  .video_sub_title, .video_title{
      padding-right: 10px
  }

  .video_data{
      text-align: center;
      background-position: center center;
  }

  .ceo_set img{
      float: right;
  }


  .video_ex_title_set{
    padding-bottom: 80px;;
  }

  .video_ex_title,.video_ex_sub{
    right: 0;
  }
  .con_videos_set{
    float: right;
  }

  .ar .td_main{
    direction: ltr;
  }
  .ve_container {
    max-width: 100%;
  }